@import '../../../styles/mixins.module';

.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    padding: 16px;
    left: 15%;
    top: 30%;
    transition: all 0.3s ease-out;
    box: {
        shadow: 1px 1px 1px black;
        sizing: border-box;
    }

    & h3 {
        margin: 5px;
    }

    @include media-mobile {
        width: 500px;
        left: calc(50% - 250px);
    }
}